.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.nav{
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    color: yellow;
}

@media (max-width:760px) {

    .container{
        flex-direction: column;
    }
    
}