header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 20px;

}
h1{
    margin-bottom: 10px;

}
a:hover{
    color: yellow;

}
a{
    text-decoration: none;
    color: aliceblue;
    padding: 18px;
}
img{
    width: 300px;
    height: 200px;
}
body{
    background-color: bisque;

}
div{
    background-color: white;
    padding: 16px;
    margin: 5px;
}
.special{
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
    margin: 6px 16px;

}
footer{
    background-color: grey;
    padding: 5px;
    text-align: center;

}
.container{
    margin: 10px;
    padding: 18px;
    background-color: azure;

}
.container2{
    margin: 5px;
    padding: 5px;

}
.info{
    margin: 20px 0;
}

@media (max-width:760px) {

    .container{
        flex-direction: column;
    }
}
